<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Add name"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="description"
        [(ngModel)]="description"
        id="description"
        placeholder="Add description"
      />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
  </form>
  
